nav {
  padding: 2rem;
  position:fixed;
}
.first-img {
  width: 100vw;
}
.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}
.btn-outline-success:hover {
  background-color: chocolate;
  color: white;
  border-color: chocolate;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}
footer {
  background: #19110b;
  font-size: 14px;
}
.first-line {
  color: white;
  border-bottom: 1px solid #392d23;
}
.second-line a {
  color: white;
  text-decoration: none;
}
.flag {
  color: white;
}
.mobile-footer {
  border-top: 1px solid #392d23;
  color: white;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  display: none;
}
@media screen and (max-width: 48rem) {
  .second-line {
    padding: 0 2rem;
  }

  .flag {
    display: none;
  }

  .first-line {
    text-align: center;
  }

  .mobile-footer {
    display: block;
  }
}
.col {
  padding-bottom: 1rem;
}
.flag-img {
  margin: 0 0.5rem;
}

.menu {
  display: inline-block;
  position: relative;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  margin-right: 3px;
}

.menu::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: rgb(231, 32, 27);
  transition: width 0.3s ease;
}

.menu:hover::after {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu:hover::after {
    width: 14%;
  }
}